.admin {
  display: flex;
  justify-content: space-around;
}
#panelHome,
#panelAddSessions {
  background-color: rgb(220, 220, 220);
  width: 35vw;
  height: 7vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  animation: showUp 1s forwards;
}
#panelHome {
  cursor: pointer;
}
li {
  list-style: none;
}
