.error {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 10rem;
  }
  &__txt {
    font-size: 2rem;
  }
}
/*landscape*/
@media (max-width: 736px) and (orientation: landscape) {
  .error {
    height: 70vh;
  }
}
