.menuItem {
  margin: 1rem 0;

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    transition: 0.2s;
    outline: none;
    font-size: 0.8rem;
  }
  &__link:hover {
    color: goldenrod;
  }
}
/*portrait*/
@media (max-width: 600px) and (orientation: portrait) {
  .asideMenu {
    .menuItem {
      width: 100%;
      margin: 0.5rem auto 10vh auto;
    }
  }
}
/*landscape*/
@media (max-width: 800px) and (orientation: landscape) {
  .asideMenu {
    .menuItem {
      flex: 1;
      margin: 0;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__link {
        flex: 1;
        font-size: 0.5rem;
        line-height: 0.5rem;
        margin: 0;
        text-align: center;
      }
      &__subMenu {
        display: none;
      }
    }
  }
}
