.tile {
  width: 27%;
  margin: 0 3% 6% 3%;
  display: inline-flex;
  opacity: 0;
  position: relative;
  cursor: pointer;

  vertical-align: middle;
  display: -webkit-inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-flex-align: center;
  -webkit-align-items: center;

  &__mask {
    position: absolute;
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
  }
  &__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  &__container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.8s;
    z-index: 1;
  }
  &__span {
    color: white;
    text-align: center;
    margin: 1rem;
    font-weight: bolder;
    font-size: 3rem;
  }
  &__image {
    width: 100%;
  }
  &:hover &__mask {
    opacity: 0.2;
  }
  &:hover &__container {
    opacity: 0.9;
  }
}

@media (orientation: portrait) {
  .tile {
    &__span {
      font-size: 1.6rem;
    }
    &__container {
      opacity: 0.8;
    }
    &__mask {
      opacity: 0.1;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .tile {
    &__span {
      font-size: 1.6rem;
    }
    &__container {
      opacity: 0.8;
    }
    &__mask {
      opacity: 0.1;
    }
  }
}
